---
---

@import "../css/variables.scss";
$header-background-image: url("{% if jekyll.environment == 'staging' %}{% else %}{{ site.baseurl}}{% endif %}{% link _assets/texture.png %}");

#navbar {
  background-image: $header-background-image;
}
@font-face {
    font-family: Nocturno;
    src: url({% if jekyll.environment == 'staging' %}{% else %}{{ site.baseurl}}{% endif %}{% link css/NocturnoDisplay-Reg.ttf %}) format(‘svg’);
}
@font-face {
    font-family: Karla;
    src: url({% if jekyll.environment == 'staging' %}{% else %}{{ site.baseurl}}{% endif %}{% link css/karla/Karla-Regular.ttf %});
}
body {
  font-family: Nocturno;
}
h1,h2,h3,h4,button{
  font-family: Karla;
}
#toggleMenu:not(.collapsed){
  background: transparent;
  filter: brightness(20);
}
#toggleMenu{
  background-color: $body-bg;
  position: absolute;
  text-align: left;
  top: 1em;
  z-index: 2;
}
/*
http://www.prowebdesign.ro/round-brush-like-responsive-drop-shadows-with-css3-and-no-images/
*/
#repos .css3-shadow.panel {
  height: 15em;
}
#repos h2 {
  margin-top:0;
  font-family: Nocturno;
}
h1.heading, #news h2, #news h4 {
  font-family: Nocturno;
}
h1.heading {
  font-size: 32px;
  text-align: center;
  color: #555b6e;
}
#news h2 {
  font-size: 32px;
  text-align: center;
  color: #555b6e;
}
#news h4 {
  font-size: 20px;
  color: #000000;
}
.css3-shadow.panel {
  background: #fff;
}
 .css3-shadow{
    background: $body-bg;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    -webkit-box-shadow:0 1px 4px -4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px -4px rgba(0, 0, 0, 0.3);
}
.panel-group .css3-shadow {
  width: 100%;
}
#faqs .panel-body {
  padding-top: 0px;
  font-family: Karla;
}
#faqs > table a:hover div {
  color: #000000;
  box-shadow: 0 0 5px 0 rgba(83, 107, 120, 0.5);
  background-color: #f8f8f8;
}
#faqs > table td[class*="col-"], table th[class*="col-"] {
  position: relative;
  text-align: center;
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow: 0 4px 10px 0 rgba(83,107,120,0.50);
    box-shadow: 0 4px 10px 0 rgba(83,107,120,0.50);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}
#repos .css3-shadow, #news .css3-shadow, #FAQ_Code .css3-shadow  {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
#repos .css3-shadow:hover, #news .css3-shadow:hover, #FAQ_Code .css3-shadow:hover {
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #000000;
}
.title {
  font-size: 3em;
  text-align: center;
}
header {
  color: white;
  font-size:1.5em;
}
.title {
  text-align: center;
}
.title a {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 52px;
  text-align: center;
  color: #555b6e;
}
.title a:hover {
  text-decoration: none;
  color: #555b6e;
}
.panel-body a:hover {
  text-decoration: none;
}
.panel-body {
  font-family: Karla;
}
.panel:hover {
    background: #eee;
}
.panel h2 {
    overflow: hidden;
}
a:hover, a:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
nav ul {
  list-style-type: none;
}
a {
  color: black;
}
.btn-default {
  border-radius: 5px;
  border: solid 2px #637081;
}
.btn-default:hover {
  background-image: $header-background-image;
  color: white;
}

#navbar nav {
  padding: 3em 3em 3em;
}
#navbar .navbar-default, #navbar .navbar-default a {
  background-image: $header-background-image;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.navbar-default {
  background-image: $header-background-image;
  line-height: 2.5em;
}
section.row {
  margin-bottom: 35px;
}
.footer {
  width: 100%;
  height: 250px;
  background-image: url("{% if jekyll.environment == 'staging' %}{% else %}{{ site.baseurl}}{% endif %}{% link _assets/textured_background.png %}");
}
