---
---

@charset "utf-8";

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
$grid-gutter-width: 20px;
$container-large-desktop: (960px + $grid-gutter-width);
$body-bg: #f9f9f9;
$btn-default-bg: $body-bg;

/* any style customization must be before the bootstrap import */
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: Nocturno;
    src: url({{site.baseurl}}{% link css/NocturnoDisplay-Reg.ttf %});
}
@font-face {
    font-family: Karla;
    src: url({{site.baseurl}}{% link css/karla/Karla-Regular.ttf %});
}
body {

    font-family: Nocturno;
}
h1,h2,h3,h4 {
    font-family: Karla;
}
