$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 20px;
$container-large-desktop: (960px + $grid-gutter-width);
$body-bg: #f9f9f9;
$navbar-default-toggle-border-color: rgba(0,0,0,0.0);
$navbar-default-toggle-border-color: rgba(0,0,0,0.0);
