<!-- Gov banner BEGIN -->
<div class="panel panel-default">
  <div id="heading" class="panel-heading">
    <img src="https://standards.usa.gov/assets/img/favicons/favicon-57.png" alt="U.S. flag">
    An official website of the United States government
    <a onclick="toggleBanner()">
      Here’s how you know
      <span id="headerIcon" class="glyphicon glyphicon-menu-down"></span>
    </a>
    <span style="background:red;">This site is under construction</span>
  </div>
  <div class="panel-body container row" hidden=true id="govBanner">
    <div class="col-sm-6">
      <img src="https://standards.usa.gov/assets/img/icon-dot-gov.svg" alt="Dot gov" height="40">
      <div>
        <p>
        <strong>The .gov means it’s official.</strong>
        <br>
        Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://standards.usa.gov/assets/img/icon-https.svg" alt="SSL" height="40">
      <div>
        <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
      </div>
    </div>
  </div>
</div>
<!-- end govBanner -->