<!-- include faq/script -->
<script>
    $(document).ready(function(){
      $('#separator').hide();
      $('.collapse_all').hide();
      $('.expand_all').on('click', function () {
        $('#FAQ_Code .collapse').collapse('show');
        //$('.faq_actions').toggle();
        $('.expand_all').hide();
        $('.collapse_all').show();
        $( ".collapse_switch span.glyphicon" ).removeClass( "glyphicon-triangle-bottom" );
        $( ".collapse_switch span.glyphicon" ).addClass( "glyphicon-triangle-top" );
      });
      $('.collapse_all').on('click', function () {
        $('#FAQ_Code .collapse').collapse('hide');
        //$('.faq_actions').toggle();
        $('.collapse_all').hide();
        $('.expand_all').show();
        $( ".collapse_switch span.glyphicon" ).addClass( "glyphicon-triangle-bottom" );
        $( ".collapse_switch span.glyphicon" ).removeClass( "glyphicon-triangle-top" );
      });
      $('.collapse_switch').on('click', function () {
        var id = $(this).closest("div").attr("id");
        $("#" + id + " .glyphicon").toggleClass("glyphicon-triangle-bottom");
        $("#" + id + " .glyphicon").toggleClass("glyphicon-triangle-top");
        var plus = $('.glyphicon-triangle-bottom').length;
        if(plus == 0){
          $(".expand_all").hide();
        } else {
          $(".expand_all").show();
        }
        var minus = $('.glyphicon-triangle-top').length;
        if(minus == 0){
          $(".collapse_all").hide();
        } else {
          $(".collapse_all").show();
        }
        if(minus * plus == 0){ // If either are zero
          $('#separator').hide();
        } else {
          $('#separator').show();
        }
      });
    });
</script>
<!-- end faq/script -->
