<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>code.mil</title>
    <link rel="stylesheet" href="css/main.css"/>
    <style>
.brand {
  font-size: 3em;
  text-align: center;
}
.title {
  color: white;
  font-size:1.5em;
}
#bs-example-navbar-collapse-1 {
  width: 100%;
  line-height: 2.5em;
  background-color: #567;
}
#bs-example-navbar-collapse-1 > nav {
  padding: 3em 3em 3em;
}
#toggleMenu {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  z-index: 2;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
nav ul {
  list-style-type: none;
}
#brandDiv {
  text-align: center;
  background: rgba(0,0,0,0);
}
.brand {
  text-align: center;
  color: black;
}
#bs-example-navbar-collapse-1 > .navbar-default,#bs-example-navbar-collapse-1 > .navbar-default a {
  border: none;
  background-color: #567;
  color: white;
}
    </style>
    <script>
function toggleBanner(){
  var tmp=document.getElementById('govBanner');
  !tmp.getAttribute('hidden') ? tmp.setAttribute('hidden',true) : tmp.removeAttribute('hidden');
  tmp=document.getElementById('headerIcon');
  tmp.classList.toggle("glyphicon-menu-down");
  tmp.classList.toggle("glyphicon-menu-up");
  event.preventDefault();
}
    </script>
    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar-default">
    <button type="button" id="toggleMenu" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>
      <div class="container-fluid row collapse" id="bs-example-navbar-collapse-1">
    <nav class="navbar navbar-default">
        <div class="col-sm-4">
          <ul>
            <li>
              <a class="title" href="{{site.baseurl}}{% link about.md %}">About</a>
            </li>
            <li>The Primer</li>
            <ul>
              <li>For DOD Employees</li>
              <li>For Citizens</li>
              <li>For press + legal</li>
            </ul>
          </ul>
        </div>
        <div class="col-sm-4">
          <a class="title" href="{{site.baseurl}}/projects.html">Community Projects</a>
          <ul>
            <li>
              <a href="{{site.baseurl}}{% link projects.md %}">
                Featured Projects
              </a>
            </li>
            <li>
              <a href="{{site.baseurl}}{% link GLOSSARY.md %}">
                Glossary
              </a>
            </li>
            <li>
              <a href="https://www.dds.mil/">
                DDS homepage
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <a class="title" href="{{site.baseurl}}{% link press.md %}">Our Press</a>
          <ul>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <a class="title" href="{{site.baseurl}}{{site.posts.first.url}}">Our Blog</a>
        </div>
    </nav>
      </div>
      <div id="brandDiv">
    <a class="brand" href="{{site.baseurl}}">code.mil</a>
      </div>
    <main id="main-content">
    {{content}}
    </main>
    <footer class="usa-footer usa-footer-medium" role="contentinfo">
      <div class="usa-footer-secondary_section">
        <div class="usa-grid">
          <div class="usa-footer-logo usa-width-one-half">
            <img class="usa-footer-logo-img" src="https://www.dds.mil/img/layout/logo-desktop-full.png" alt="Logo image">
            <h3 class="usa-footer-logo-heading">Defense Digital Service</h3>
          </div>
          <div class="usa-footer-contact-links usa-width-one-half">
            <a class="usa-link-twitter" href="https://twitter.com/DefenseDigital">
              <span>Twitter</span>
            </a>
            <a class="usa-link-medium" href="https://medium.com/@DefenseDigitalService">
              <span>Medium</span>
            </a>
            <a class="usa-link-github" href="https://github.com/deptofdefense/">
              <span>GitHub</span>
            </a>
            <address>
              <h3 class="usa-footer-contact-heading">Contact us</h3>
              <p><address>Defense Digital Service<br>9010 Defense Pentagon<br>Washington, DC 20301</address></p>
              <p><a href="mailto:feedback@dds.mil">feedback@dds.mil</a></p>
            </address>
          </div>
        </div>
      </div>
      <!-- Gov banner BEGIN -->
      <div class="panel panel-default">
        <div id="heading" class="panel-heading">
          <img src="https://standards.usa.gov/assets/img/favicons/favicon-57.png" alt="U.S. flag">
          An official website of the United States government
          <a class="button"
             onclick="toggleBanner()">
            Here’s how you know
            <span id="headerIcon" class="glyphicon glyphicon-menu-down"></span>
          </a>
          <span style="background:red;">This site is under construction</span>
        </div>
        <div class="panel-body container row" hidden=true id="govBanner">
          <div class="col-sm-6">
            <img src="https://standards.usa.gov/assets/img/icon-dot-gov.svg" alt="Dot gov">
            <div>
              <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <img src="https://standards.usa.gov/assets/img/icon-https.svg" alt="SSL">
            <div>
              <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
